<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>会员生日提醒</title>
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css">

    <script type="text/javascript" src="../static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/include.js"></script>
    <script type="text/javascript" src="../static/easyui/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
    <!-- 数据表 -->
    <table class="easyui-datagrid" id="dg" name="dg" style="height: auto">
        <thead>
        <th field="ck" checkbox="true" ></th>
        <th field="name" width="50%" align="center">姓名</th>
        <th field="birthday" width="50%" align="center">生日</th>
        </thead>
    </table>

</body>
<script type="text/javascript">
    var grid;
    $(document).ready(function () {
        grid=$('#dg').datagrid({
            url:'http://localhost:8080/user/selectByBirthday',
            rownumbers:true,
            striped:true,
            fit:true,
//            toolbar:'#tb',
//            singleSelect:true //单选模式
//            pagination:true,
//            pageSize:2,
//            pageList:[1,2,3,4]
        });
    });

</script>
</html>