<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.VipUserDao">
    <sql id="columns">name,money,integral,status</sql>

    <select id="selectAll" parameterType="com.example.demo.model.VipUser" resultType="com.example.demo.model.VipUser">
        select  * from vipcard
        <where>
            AND status="正常"
            <if test="name!=null" >
               AND name like concat('%',concat(#{name}),'%')
            </if>
        </where>
    </select>
    <select id="selectByStatus" parameterType="com.example.demo.model.VipUser" resultType="com.example.demo.model.VipUser">
        select * from vipcard where status="挂失"
    </select>

    <insert id="insert" parameterType="com.example.demo.model.VipUser" keyProperty="id" useGeneratedKeys="true">
        insert into vipcard (<include refid="columns" />) values (#{name},#{money},#{integral},#{status})
    </insert>

    <delete id="deletes" parameterType="Long">
        delete  from  vipcard where id in
        <foreach collection="array" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="cardLose" parameterType="com.example.demo.model.VipUser">
        UPDATE  vipcard
        <set>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="recharge" parameterType="com.example.demo.model.VipUser">
        UPDATE  vipcard
        <set>
            <if test="money!=null">
                money=money+#{money},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="userBuy" parameterType="com.example.demo.model.VipUser">
        UPDATE  vipcard
        <set>
            <if test="money!=null">
                money=money-#{money},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="consume" parameterType="com.example.demo.model.VipUser">
        UPDATE  vipcard
        <set>
            <if test="money!=null">
                money=money-#{money},
            </if>
            <if test="integral!=null">
                integral=integral+#{integral},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>
